.hotelImage {
  margin: 2.5vh;
  margin-bottom: 1vh;
  height: 30vh;
  width: 30vh;
}

.hotelCard {
  background-color: rgb(219, 177, 143);
  margin: 1vh;
  height: 35vh;
  width: 35vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
