body {
  background-color: rgb(253, 247, 163);
}

.hotelGallery {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hotelGalleryTable {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
